img {
    max-width: 100%;
    height: auto;
}

nav {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                    /* Adjust the values as needed */
}

controlBar

.main {
    top: 100px;
    /* Adjust the value based on your navbar height */
}

h5 {
    margin: 0px 0px 8px;
    font-size: 16px;
}

.content {
    padding: 10px;
}

input {
    width: 100%;
}

.dropdown-menu {
    right: 0;
    left: auto;}

/* .col-lg-4 {
    min-width: 200px;
    min-height: 200px;
    overflow: hidden;
} */