img {
    height: auto;
    width: 100%;
    max-height: 100%;
    max-width: 600px;
}


nav {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


a.navbar-brand  {
    padding: 5px 0px, 10px, 0px;
}

button.main-buttons {
    font-size: 13px;
    margin: 0px;
    border: 0px;
    /* u l d r - kot gre ura*/
    padding: 3px 6px;
    vertical-align: bottom;
}

#toolbar {
    padding: 0px 0px 0px 0px;
}

div.currentDatetime {
    padding: 0px;
    font-size:18px;
}

button.place-buttons, button.area-buttons, button.text-buttons {
    font-size: 12px;
    margin: 0px;
    border: 0px;
    padding: 2px 4px;
}

/* info krogec večji
button[data-tab="textNapoved"] {
    padding: 0px;
} */

h5 {
    margin: 8px 0px 8px;
    font-size: 16px;
    text-align: center;
}

h6 {
    font-size: 13px;
    margin: 0px 0px 10px;
}

p {
    font-size: 13px;
}

.povzetek {
    margin: 0px 0px 6px;
    font-style: italic;  
}

.warning {
    color: red;
}

.content {
    padding: 5px;
}

/* turn dynamic content off by default and only toggle it with button handlers */
.content, .controlBar {
    display: none
}

.textContent {
    padding: 30px 30px;
}

input {
    width: 100%;
}

.col-lg-4, .col-lg-6 {
    padding: 0px 5px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* Daj proč scroolbar */
body {
    overflow-y: scroll;
    /* Auto hides scrollbar until needed */
}

body::-webkit-scrollbar {
    width: 0px;
    /* Width of the placeholder scrollbar */
}

.form-control-range:focus {
    outline: none;
}

button:focus {
    outline: none;
}


.loading-icon {
    display: none;
    width: 20px;
    height: 20px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-top: 2px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



/* Media query for smartphones (up to 767px width) */
@media only screen and (max-width: 767px) {

    /* Change the class to fixed-bottom on smartphones */
    .navbar {
        position: fixed;
        bottom: 0;
        top: auto;
        /* Other styles specific to fixed-bottom */
    }
}
